h1 {
	text-align: center;
	color: white;
	font-family: Century Gothic, Helvetica;
	font-size: 50px;
}
p {
	padding-left: 65px;
	font-family: Century Gothic, Helvetica;
}
h3 {
	padding-left: 115px;
	font-family: Century Gothic, Helvetica;
}
a {
	float: right;
}

#name {
	background-color: black;
	border: 2px solid black;
	border-radius: 5px;
	height: 55px;
	width: 1200px;
	margin: auto;
	padding-bottom: 50px;
}
#contact {
	float: right;
	padding-right: 200px;
}
#skills {
	float: right;
	padding-right: 165px;
}

#education, #work {
	width: 500px;
	margin-left: 100px;
	border-bottom: 1px solid black;
	padding-left: -120px;
}
#interests {
	width: 500px;
	margin-left: 100px;
}
