body {
	font-family: Century Gothic, Helvetica, cursive;
	background-image: url("https://40.media.tumblr.com/464d161e4b51b4da63fc5007f73cb906/tumblr_nmk4rzxDP81tkwfmho1_540.jpg");
	background-size: relative;
	background-attachment: fixed;
	background-position: center;
}
h1 {
	text-align: center;
	color: white;
	font-family: Century Gothic, Helvetica;
	font-size: 50px;
}
p {
	padding-left: 65px;
	font-family: Century Gothic, Helvetica;
}
h3 {
	padding-left: 115px;
	font-family: Century Gothic, Helvetica;
}
a {
	text-decoration: none; 
	color: red; 
	font-family: Century Gothic, Helvetica, cursive; 
	font-size: 16px;
}
.name {
	background-color: black;
	border: 2px solid black;
	border-radius: 5px;
	height: 55px;
	width: 1200px;
	margin: auto;
	padding-bottom: 50px;
}
.navbar {
	text-align: center;
}
.nav-item {
	display: inline;
	padding: 10px;
	transition: background-color .3s ease-in, color .3s;
}
.nav-item:hover {
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	background-color: black;
}
.nav-item a:hover {
	color: white;
}
.education, .work {
	border-bottom: 1px solid black;
	padding-left: -120px;
}
.interests, .education, .work {
	width: 500px;
}
.interests {
	height: 500px;
}
.right-container {
	float: right;
	width: 400px;
}
.left-container {
	float: left;
	width: 500px;
}
.main-container {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1100px;
	background-color: #cdcbcb;
	opacity: 0.9;
	border: 1px solid #cdcbcb;
	border-radius: 1%
}

