h1 {
	text-align: center;
	color: white;
	font-family: Century Gothic, Helvetica;
	font-size: 50px;
}
p {
	padding-left: 65px;
	font-family: Century Gothic, Helvetica;
}
h3 {
	padding-left: 115px;
	font-family: Century Gothic, Helvetica;
}
a {
	float: right;
	text-decoration: none; 
	color: black; 
	font-family: Century Gothic, Helvetica, cursive; 
	font-size: 16px;
}
a:hover {
	color: red;
}
.name {
	background-color: black;
	border: 2px solid black;
	border-radius: 5px;
	height: 55px;
	width: 1200px;
	margin: auto;
	padding-bottom: 50px;
}
.contact, .skills {
	float: right;
	clear: both;
}
.skills {
}

.education, .work {
	border-bottom: 1px solid black;
	padding-left: -120px;
}
.interests, .education, .work {
	width: 500px;
}
.right-container {
	float: right;
	width: 400px;
}
.left-container {
	float: left;
	width: 500px;
}
.main-container{
	margin: auto;
	width: 1000px;
}