@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-neiom6');
	src:url('fonts/icomoon.eot?#iefix-neiom6') format('embedded-opentype'),
		url('fonts/icomoon.woff?-neiom6') format('woff'),
		url('fonts/icomoon.ttf?-neiom6') format('truetype'),
		url('fonts/icomoon.svg?-neiom6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: Century Gothic, Helvetica, cursive;
	background-repeat: no-repeat;
	background-size: relative;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
}
a {
	text-decoration: none; 
	color: black; 
	font-family: Century Gothic, Helvetica, cursive; 
	font-size: 16px;
}
h1 {
	font-family: Century Gothic, Helvetica, cursive;
	font-size: 55px;
	text-align: center;
}
li {
	text-decoration: none;
}
ul {
	text-align: center;
}
.nav-item {
	display: inline;
	padding: 10px;
	transition: background-color .3s ease-in, color .3s;
}
.nav-item:hover {
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	background-color: black;
}
.nav-item a:hover {
	color: white;
}
@media (min-width: 1241px;){

}


