a {
	text-decoration: none; 
	color: black; 
	font-family: Century Gothic, Helvetica, cursive; 
	font-size: 16px;
}
img {
	vertical-align: center;
	height: 300px; width: 200px;
	margin-top: 20px;
	float: left;
}
h1 {
	font-family: Century Gothic, Helvetica, cursive;
	font-size: 55px;
	text-align: center;
}
body {
	font-family: Century Gothic, Helvetica, cursive;
}
a:hover {
	color: red;
}
.facts {
	text-align: center;
	width: 300px;
	margin-top: 50px;
	float: right;
}
.top, .bottom {
	border-bottom: 1px solid black;
	clear: both;
	width: 800px;
	margin: auto;
}
.bottom {
	padding-top: 75px;
}
.container {
	margin: auto;
	width: 500px;
}


