a {
	text-decoration: none; 
	color: black; 
	font-family: Century Gothic, Helvetica, cursive; 
	font-size: 16px;
}
img {
	vertical-align: center;
	margin-left: 50px;
	height: 300px; width: 200px;
	margin-top: 20px;
}
h1 {
	font-family: Century Gothic, Helvetica, cursive;
	font-size: 55px;
	border-bottom: 1px solid black;
}
body {
	font-family: Century Gothic, Helvetica, cursive;
}
a:hover {
	color: red;
}
.facts {
	text-align: center;
	width: 300px;
	float: right;
	margin-top: 50px;
	margin-right: 775px;
}
.bottom {
	border-bottom: 1px solid black;
	padding-top: 75px;
}


